




<p><strong>Name :</strong>  <%=@name1 %>  <%=@name2 %></p>
<p><strong>Username: </strong><%= @username %> </p>
<p><strong>D.O.B :</strong> <%= @birthday %></p>
<p><strong>Email:</strong> <%= @email %></p>
<p><strong>Post: </strong><%=@post %></p>
<form action="/delete" method="post">
<input type="submit" value="Delete" id="delete">
</form>